[submodule "addons/ofxXmlGui"]
	path = addons/ofxXmlGui
	url = https://github.com/isthisgood/ofxXmlGui.git
[submodule "addons/ofxCv"]
	path = addons/ofxCv
	url = git://github.com/kylemcdonald/ofxCv.git
[submodule "addons/ofxFatLines"]
	path = addons/ofxFatLines
	url = git://github.com/roymacdonald/ofxFatLines.git
